
body {
    background-color: #246d98;
    overflow: hidden;
}

img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.orange {
    color: #EF982E;
}

#logo, #quote {
    text-align: center;
}

#logo {
    visibility: visible;
    margin-top: 50px;
    font-size: 750px;
}

.logo {
    margin: 0 !important;
}

.button {
    position: fixed;
    background-color: #EF982E;
    width: 60px;
    height: 60px;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
    color: #246d98;
    transition: box-shadow 600ms ease-out,
                background-color 600ms ease-out;
}

.inverted {
    background-color: #246d98;
    color: #EF982E;
    transition: box-shadow 600ms ease-out,
                background-color 600ms ease-out;
}

.centered {
    left: 50%;
    margin-left: -112.5px;
}

.notSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup {
    z-index: 5;
    position: fixed;
    background-color: #EF982E;
    color: #246d98;
    text-align: center;
}

.popupSmall {
    visibility: hidden;
    width: 255px;
    height: 240px;
    animation: zeroToHero 3000ms;
}

.popupLarge {
    visibility: hidden;
    left: 30px;
    top: 30px;
    width: 1860px;
    height: 890px;
}

.field {
    background-color: #246d98;
    color: #EF982E;
    width: 225px;
    margin-top: 15px;
    height: 60px;
    border: 0px;
    font-size: 60px;
    text-align: center;
    /*Fix for iOS' Safari input field styling:*/
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
}

#login {
    left: 30px;
    bottom: 30px;
    background-image: url("../img/keyNormal.png");
    background-position: center;
    background-repeat: no-repeat;
}

#loginScreen {
    left: 30px;
    bottom: 30px;
}

#loginScreenUser {

}

#loginScreenPassword {

}

#loginScreenRemember {

}

#loginScreenSubmit {
    left: 45px;
    margin-top: 15px;
    width: 225px;
}

#signup {
    width: 225px;
    bottom: 30px;
}

#signupScreen {
    visibility: visible;
    /*visibility: hidden;*/
    height: 315px;
    bottom: 30px;
}

#mailingScreenHeader {
    margin-top: 15px;
    font-size: 55px;
}

#signupScreenUser {

}

#signupScreenPassword {

}

#signupScreenPasswordRepeat {

}

#signupScreenSubmit {
    margin-top: 15px;
    width: 225px;
    margin-left: -97.5px;
}

#mailingScreenCross {
    right: 45px;
    top: 45px;
    background-image: url("../img/cross.png");
    background-position: center;
    background-repeat: no-repeat;
}

#question {
    right: 30px;
    bottom: 30px;
    background-image: url("../img/questionMarkNormal.png");
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    /*Font provided by dafont.com*/
    /*https://www.dafont.com/savour-pinacolada.font*/
    font-family: Comms;
    src: url('../fonts/comms/comms.eot'); /* IE9 Compat Modes */
    src: url('../fonts/comms/comms.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/comms/comms.woff') format('woff'), /* Modern Browsers */
         url('../fonts/comms/comms.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/comms/comms.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.comms {
    font-family: Comms;
}

@font-face {
    /*Font provided by dafont.com*/
    /*https://www.dafont.com/made-evolve-sans.font*/
    font-family: evolveLight;
    src: url('../fonts/evolve/light/evolveLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/evolve/light/evolveLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/evolve/light/evolveLight.woff') format('woff'), /* Modern Browsers */
    url('../fonts/evolve/light/evolveLight.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/evolve/light/evolveLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.evolveLight {
    font-family: evolveLight;
}

@font-face {
    /*Font provided by dafont.com*/
    /*https://www.dafont.com/made-evolve-sans.font*/
    font-family: evolveBold;
    src: url('../fonts/evolve/bold/evolveBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/evolve/bold/evolveBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/evolve/bold/evolveBold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/evolve/bold/evolveBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/evolve/bold/evolveBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.evolveBold {
    font-family: evolveBold;
}

.button:hover {
    box-shadow: inset 0 0 0 5px #EF982E;
    background-color: transparent;
    color: #EF982E;
    cursor: pointer;
}

.inverted:hover {
    box-shadow: inset 0 0 0 5px #246d98;
    background-color: transparent;
    color: #246d98;
}

#login:hover {
    background-image: url("../img/keyInverted.png");
}

#mailingScreenCross:hover {
    background-image: url("../img/crossInverted.png");
}

#question:hover {
    background-image: url("../img/questionMarkInverted.png");
}

::selection{
    background: #EF982E;
    color: #246d98;
}

/*iPad landscape media query*/
@media only screen and (max-width: 1024px) {

    #logo {
        margin-top: 50px;
        font-size: 500px;
    }

    #signup {
        margin-left: -177.5px;
        width: 354px;
    }

}

/*iPad portrait media query*/
@media only screen and (max-width: 768px) {

    #logo {
        margin-top: 125px;
        font-size: 375px;
    }

    #signup {
        margin-left: -177.5px;
        width: 354px;
    }

}

/*iPhone 5.5" media query*/
@media only screen and (max-width: 414px) {

    #logo {
        margin-top: 125px;
        font-size: 190px;
    }

    #signup {
        margin-left: -177.5px;
        width: 354px;
        bottom: 150px;
    }

    #loginScreen {
        left: 50%;
        margin-left: -125px;
    }

    #loginScreenSubmit {
        left: 50%;
        margin-left: -110px;
    }

}

/*iPhone 4.7" portrait media query*/
@media only screen and (max-width: 375px) {

    #logo {
        margin-top: 125px;
        font-size: 170px;
    }

    #signup {
        margin-left: -157.5px;
        width: 315px;
        bottom: 150px;
    }

}

/*iPhone 4" portrait media query*/
@media only screen and (max-width: 320px) {

    #logo {
        margin-top: 45px;
        font-size: 145px;
    }

    #signup {
        margin-left: -130px;
        width: 260px;
        bottom: 150px;
        font-size: 65px;
    }
}

/*iPhone 4" portrait media query*/
@media only screen and (max-height: 320px) {

    #logo {
        margin-top: 45px;
        font-size: 145px;
    }

    #signup {
        margin-left: -130px;
        width: 260px;
        font-size: 65px;
    }
}



.leftBorder, .rightBorder, .topBorder, .bottomBorder {
    background: #EF982E;
    position: fixed;
}

.leftBorder, .rightBorder {
    top: 0;
    bottom: 0;
    width: 15px;
}

.topBorder, .bottomBorder {
    left: 0;
    right: 0;
    height: 15px;
}

.leftBorder {
    left: 0;
}

.rightBorder {
    right: 0;
}

.topBorder {
    top: 0;
}

.bottomBorder {
    bottom: 0;
}